<?xml version="1.0" encoding="utf-8"?>
<!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bpbatam.enterprise">

    <supports-screens android:smallScreens="false" />

    <compatible-screens>

        <!-- normal size screens -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <screen
            android:screenDensity="560"
            android:screenSize="normal" />
        <screen
            android:screenDensity="640"
            android:screenSize="normal" />

        <!-- large size screens -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="480"
            android:screenSize="large" />
        <screen
            android:screenDensity="560"
            android:screenSize="large" />
        <screen
            android:screenDensity="640"
            android:screenSize="large" />
        <screen
            android:screenDensity="420"
            android:screenSize="normal" />
    </compatible-screens>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.bpbatam.AppController"
        android:allowBackup="true"
        android:icon="@drawable/bp_batam_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.bpbatam.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name="com.bpbatam.HomeActivity"/>

        <activity android:name=".persuratan.PermohonanPersuratanActivity"></activity>
        <activity android:name=".NotificationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".PDFViewActivity_Distribusi"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".PDFViewActivityDitolakDisetujui"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".PDFViewActivityDisposisiDistribusi"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".PDFViewActivity_Disetujui"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".CC_Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".DistribusiActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".bbs.bbs_komentar_activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".disposisi.disposisi_detail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

    </application>

</manifest>